@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@900&family=Montserrat:wght@400;500;600&display=swap");
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter-Light.woff2") format("woff2"), url("../fonts/Inter-Light.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Inter-ExtraBold.woff2") format("woff2"), url("../fonts/Inter-ExtraBold.woff") format("woff");
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Inter", sans-serif;
  background: #020914;
  color: #fcfcfc;
}

input,
button,
textarea {
  font-family: "Inter", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a,
label {
  -webkit-tap-highlight-color: transparent;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

video {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin-top: 20px;
}
p:first-child {
  margin-top: 0;
}

[class*=__container] {
  max-width: 1450px;
  padding: 0 25px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  [class*=__container] {
    max-width: 770px;
  }
}
@media screen and (max-width: 425px) {
  [class*=__container] {
    padding: 0 15px;
  }
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  position: relative;
  z-index: 1;
}

body.overflow--hide {
  overflow-y: hidden;
}

.bg__lines {
  position: absolute;
  width: 4500px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.btn {
  text-align: center;
  cursor: pointer;
  padding: 13px 60px;
  background: linear-gradient(96.12deg, #00cf8c 7.03%, #008ed7 114.13%);
  -webkit-box-shadow: inset 0px 0px 0 0 #008ed7, 0px 0px 10px #00b8a5;
          box-shadow: inset 0px 0px 0 0 #008ed7, 0px 0px 10px #00b8a5;
  border-radius: 100px;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #0a0c0d;
  -webkit-transition: -webkit-box-shadow 0.7s ease;
  transition: -webkit-box-shadow 0.7s ease;
  transition: box-shadow 0.7s ease;
  transition: box-shadow 0.7s ease, -webkit-box-shadow 0.7s ease;
}
.btn:hover {
  -webkit-box-shadow: inset 0px 0px 80px -30px #008ed7, 0px 0px 10px #00b8a5;
          box-shadow: inset 0px 0px 80px -30px #008ed7, 0px 0px 10px #00b8a5;
}
@media screen and (max-width: 768px) {
  .btn:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .btn:active {
    -webkit-transition: -webkit-box-shadow 0.2s ease;
    transition: -webkit-box-shadow 0.2s ease;
    transition: box-shadow 0.2s ease;
    transition: box-shadow 0.2s ease, -webkit-box-shadow 0.2s ease;
    -webkit-box-shadow: inset 0px 0px 80px -30px #008ed7, 0px 0px 10px #00b8a5;
            box-shadow: inset 0px 0px 80px -30px #008ed7, 0px 0px 10px #00b8a5;
  }
}
@media screen and (max-width: 600px) {
  .btn {
    max-width: 343px;
    width: 100%;
  }
  .btn.popup__close-btn {
    width: auto;
  }
}

.title-grad {
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  background: linear-gradient(93.34deg, #16c28a 18.86%, #529dd6 104.88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
@media screen and (max-width: 768px) {
  .title-grad {
    font-size: 35px;
    line-height: 110%;
  }
}

.full-bg {
  position: absolute;
  top: 266px;
  width: 238%;
  height: 130%;
  left: -66%;
  z-index: -50;
  -o-object-fit: cover;
     object-fit: cover;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  overflow: hidden;
  background: #040718;
}
.preloader__procents {
  position: absolute;
  left: 50%;
  top: 90%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 40px;
  text-transform: uppercase;
  background: linear-gradient(93.34deg, #16c28a 18.86%, #529dd6 104.88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 0px 40px rgba(61, 255, 193, 0.3);
}
.preloader svg, .preloader img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.preloader--hide {
  display: none;
}

circle {
  stroke: #3dffc1;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

body.overflow--hide {
  overflow-y: hidden;
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  -webkit-transition: opacity 1s ease 0s;
  transition: opacity 1s ease 0s;
}
.popup__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100%;
}
.popup__content {
  width: 450px;
  height: 450px;
  position: relative;
  border: 1px solid #3dffc1;
  -webkit-box-shadow: 0px 0px 40px rgba(61, 255, 193, 0.3);
          box-shadow: 0px 0px 40px rgba(61, 255, 193, 0.3);
  background: #040718;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
  opacity: 0;
}
.popup__content h1 {
  font-weight: 900;
  font-size: 150px;
  margin-top: 114px;
  text-transform: uppercase;
  background: linear-gradient(93.34deg, #16c28a 18.86%, #529dd6 104.88%);
  text-shadow: 0px 0px 40px rgba(61, 255, 193, 0.3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.popup__content p {
  font-weight: 400;
  font-size: 18px;
}
.popup__close-btn {
  z-index: 11;
  margin-top: 50px;
  font-weight: 600;
}
.popup__UFO {
  width: 64.6%;
  position: absolute;
  top: -16%;
  left: 4%;
  opacity: 1;
  -webkit-transform: translate(-200%, -400%);
      -ms-transform: translate(-200%, -400%);
          transform: translate(-200%, -400%);
}
.popup__UFO .blur {
  position: absolute;
  left: 107px;
  top: 50px;
  z-index: -1;
  width: 60%;
}

.popup.open {
  visibility: visible;
  opacity: 1;
  overflow-y: hidden;
}

.popup.open .popup__UFO {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.popup.open .blur {
  -webkit-animation: UFO 1.8s linear;
          animation: UFO 1.8s linear;
}

.popup.open .popup__content {
  opacity: 1;
}

@-webkit-keyframes UFO {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes UFO {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.cookie {
  padding: 20px;
  position: fixed;
  bottom: 2vw;
  left: 50px;
  z-index: 25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 0.8s ease-in-out 0.1s, -webkit-transform 0.8s ease-in-out 0.1s;
  transition: opacity 0.8s ease-in-out 0.1s, -webkit-transform 0.8s ease-in-out 0.1s;
  transition: transform 0.8s ease-in-out 0.1s, opacity 0.8s ease-in-out 0.1s;
  transition: transform 0.8s ease-in-out 0.1s, opacity 0.8s ease-in-out 0.1s, -webkit-transform 0.8s ease-in-out 0.1s;
  background: rgba(4, 7, 24, 0.9);
  border: 1px solid #3dffc1;
  border-radius: 10px;
}
.cookie__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  z-index: 25;
}
.cookie__btn {
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  padding: 3px 32px;
  color: #0a0c0d;
  background: #fcfcfc;
  border-radius: 100px;
  margin-left: 10px;
  z-index: 26;
  -webkit-transition: background 0.8s ease;
  transition: background 0.8s ease;
  overflow: hidden;
  position: relative;
}
.cookie__btn:hover {
  background: #cccccc;
}
.cookie img {
  position: absolute;
  top: -19px;
  left: -10px;
}
.cookie p {
  margin-top: 0;
}

.cookie--hide {
  opacity: 0;
  -webkit-transform: translate(0, 140%);
      -ms-transform: translate(0, 140%);
          transform: translate(0, 140%);
}

@media screen and (max-width: 768px) {
  .cookie {
    width: 80vw;
    padding: 20px 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .cookie--hide {
    -webkit-transform: translate(-50%, 140%);
        -ms-transform: translate(-50%, 140%);
            transform: translate(-50%, 140%);
  }
}
@media screen and (max-width: 768px) and (max-width: 660px) {
  .cookie {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .cookie__btn {
    margin: 10px 0 0 0;
    padding: 6px 32px;
  }
  .preloader img, .preloader svg, .preloader span {
    -webkit-transform: translate(-50%, -50%) scale(0.8);
        -ms-transform: translate(-50%, -50%) scale(0.8);
            transform: translate(-50%, -50%) scale(0.8);
  }
  .preloader span {
    margin-top: 0px;
  }
}
@media screen and (max-width: 768px) {
  .popup__content {
    width: 70vw;
    height: 70vw;
  }
  .popup__content h1 {
    font-size: 25vw;
    margin-top: 16%;
  }
  .popup__content p {
    font-size: 3vw;
  }
  .popup__content .btn {
    padding: 3% 12%;
    font-size: 3vw;
    margin-top: 8%;
  }
  .popup__UFO {
    position: absolute;
    top: -16%;
    left: -15%;
    width: 70%;
    height: 20vw;
  }
  .popup__UFO img {
    position: absolute;
    width: 80%;
    left: 30%;
    top: 12%;
  }
  .popup__UFO .blur {
    -webkit-transform: translateX(-40%);
        -ms-transform: translateX(-40%);
            transform: translateX(-40%);
    width: 40%;
    top: 55%;
    left: 78%;
  }
}
@media screen and (max-width: 530px) {
  .cookie__text {
    max-width: 220px;
  }
}
@media (max-width: 475px) {
  .popup__content h1 {
    font-size: 25vw;
    margin-top: 18%;
  }
}
@media screen and (max-width: 425px) {
  .preloader img, .preloader svg, .preloader span {
    -webkit-transform: translate(-50%, -50%) scale(0.6);
        -ms-transform: translate(-50%, -50%) scale(0.6);
            transform: translate(-50%, -50%) scale(0.6);
  }
}
@media screen and (max-width: 425px) and (max-width: 350px) {
  .preloader img, .preloader svg, .preloader span {
    -webkit-transform: translate(-50%, -50%) scale(0.3);
        -ms-transform: translate(-50%, -50%) scale(0.3);
            transform: translate(-50%, -50%) scale(0.3);
  }
}
input.error {
  border: 1px solid #be1111;
  -webkit-box-shadow: none;
          box-shadow: none;
}
input.error:focus {
  border: 1px solid #be1111;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(6.8%, rgba(8, 2, 20, 0.2)), color-stop(78.8%, rgba(0, 0, 0, 0)));
  background: linear-gradient(180deg, rgba(8, 2, 20, 0.2) 6.8%, rgba(0, 0, 0, 0) 78.8%);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.header__container {
  position: relative;
}
.header__logo {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
  padding: 50px 0;
  max-width: 970px;
  margin: 0 auto;
}
.menu__item {
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  line-height: 130%;
  white-space: nowrap;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease, -webkit-transform 0.3s ease;
  transition: color 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, color 0.3s ease;
  transition: transform 0.3s ease, color 0.3s ease, -webkit-transform 0.3s ease;
}
.menu__item:hover {
  color: #3dffc1;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.logo__text {
  display: none;
}

.footer {
  margin: 200px 0 0 0;
}
@media screen and (max-width: 1024px) {
  .footer {
    margin: 150px 0 0 0;
  }
}
.footer a {
  color: #fcfcfc;
}
.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.footer__title {
  margin-top: 12px;
  font-weight: 800;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.footer__soon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  color: #fcfcfc;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}
.footer__share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__share--item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  margin: 0 4px;
  background: #020914;
  border: 1px solid #5fa8ff;
  -webkit-box-shadow: 0px 0px 10px rgba(95, 168, 255, 0.3);
          box-shadow: 0px 0px 10px rgba(95, 168, 255, 0.3);
  border-radius: 5px;
}
.footer__share--item:disabled {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: 3;
  background: #474747;
  pointer-events: none;
}
.footer__email {
  margin-top: 12px;
  font-weight: 400;
  font-size: 18px;
}
.footer__power {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #939393;
}
.footer__power img {
  margin-top: 7px;
}
.footer__policy {
  margin: 60px 0 14px 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  color: #939393;
}
.footer__policy a {
  text-decoration: underline;
  color: #939393;
}
.footer__policy a:hover {
  color: #a2a2a2;
}

.burger {
  display: none;
  position: absolute;
  background: transparent;
  border: 1px solid transparent;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.burger:focus {
  outline-width: 0;
}
.burger [class*=bar-] {
  background: #fff;
  display: block;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: 0.4s ease transform;
  transition: 0.4s ease transform;
  border-radius: 8px;
  height: 2px;
  width: 33px;
  margin-bottom: 6px;
}
.burger .bar-bot {
  margin-bottom: 0;
}
.burger.opened .bar-top {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  -webkit-transform-origin: 15% 15%;
  -ms-transform-origin: 15% 15%;
      transform-origin: 15% 15%;
}
.burger.opened .bar-mid {
  opacity: 0;
}
.burger.opened .bar-bot {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
  -webkit-transform-origin: 15% 95%;
  -ms-transform-origin: 15% 95%;
      transform-origin: 15% 95%;
}

@media screen and (max-width: 1024px) {
  .menu {
    padding: 35px 0;
  }
}
@media screen and (max-width: 850px) {
  .menu__item {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
    padding: 16px;
  }
  .header__bg_1 {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 100%;
    z-index: -1;
    -webkit-transition: opacity 0.6s ease 0s;
    transition: opacity 0.6s ease 0s;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
  }
  .header__bg_2 {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 100%;
    z-index: 2;
    background: #020914;
    height: 100%;
    top: 0;
    left: 0;
  }
  .burger {
    display: inline-block;
    z-index: 2;
  }
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: unset;
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
    z-index: 2;
  }
  .logo img {
    width: 30px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .logo__text {
    margin: 0 0 0 12px;
    display: inline-block;
    font-weight: 900;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    color: #fcfcfc;
  }
  .menu {
    overflow: auto;
    padding: 85px 0;
    position: absolute;
    width: 100%;
    height: min(100vh, 500px);
    top: 0;
    right: 0;
    background: #020914;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 24px;
  }
  .menu__item {
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
  }
  .menu__item:hover {
    color: #fcfcfc;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
  .menu__item:active {
    color: #3dffc1;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
  .header.opened .menu {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    visibility: visible;
    z-index: 1;
  }
  .header.opened .header__bg_1, .header.opened .header__bg_2 {
    opacity: 1;
    visibility: visible;
  }
  .header.opened .header__bg_2 {
    -webkit-transition: opacity 0.6s ease 0s;
    transition: opacity 0.6s ease 0s;
  }
}
@media screen and (max-width: 375px) {
  .header__container {
    height: 60px;
  }
  .logo img {
    width: 35px;
  }
  .logo__text {
    font-size: 18px;
  }
  .menu__list {
    width: 100%;
  }
}
.blur {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.mainpage {
  padding: 140px 0 40px;
  height: max(100vh, 750px);
  position: relative;
}
.mainpage__bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.mainpage__bg img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.mainpage__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1;
}
.mainpage__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.mainpage__image {
  max-width: 215px;
  width: 100%;
}
.mainpage__image img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.mainpage__title {
  margin: 50px 0 0 0;
  font-family: "Exo 2";
  font-size: 124px;
  font-style: normal;
  font-weight: 900;
  line-height: 93.396%;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#aba8a8));
  background: linear-gradient(180deg, #fff 0%, #aba8a8 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}
.mainpage__bottom {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.mainpage__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 20px;
}
.mainpage__soon {
  grid-column: 1/span 2;
  color: #bababa;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  text-transform: uppercase;
}
.mainpage__btn {
  background: transparent;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.mainpage__btn:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.mainpage ._main {
  display: none;
  position: absolute;
  -webkit-transform: translate(-50%, -42%);
      -ms-transform: translate(-50%, -42%);
          transform: translate(-50%, -42%);
  top: 0;
  left: 50%;
  width: 193%;
  z-index: -5;
}

.about {
  margin: 150px 0 0 0;
}
.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  max-width: 803px;
}
.about__text {
  text-align: center;
  font-family: "Exo 2";
  font-size: 22px;
  font-weight: 700;
  line-height: 140%;
  text-transform: uppercase;
  background: linear-gradient(93deg, #16c28a 18.86%, #529dd6 104.88%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 580px;
  margin: 0 auto;
}

.ability {
  margin: 140px 0 0 0;
}
.ability__container {
  position: relative;
}
.ability__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.ability__item {
  border-radius: 10px;
  background: rgba(17, 28, 46, 0.8);
  -webkit-box-shadow: 4px 4px 14.5px 0px rgba(0, 0, 0, 0.68);
          box-shadow: 4px 4px 14.5px 0px rgba(0, 0, 0, 0.68);
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  text-align: center;
}
.ability__image {
  margin: -70px 0 0 0;
  max-width: 130px;
  width: 100%;
}
.ability__image img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.ability__title {
  color: #eff2f2;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 600;
  line-height: 130%;
}
.ability__text {
  color: #a4bcde;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
}
.ability__blur {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 600px;
}
.ability__blur img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.video {
  margin: 100px 0 0 0;
  aspect-ratio: 16/7;
}
.video__container {
  height: 100%;
}
.video iframe {
  padding: 20px 0;
  width: 100%;
  height: 100%;
}

.zoomloupe {
  margin: 100px 0 0 0;
  padding: 70px 0;
}
.zoomloupe__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.zoomloupe__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58%;
          flex: 0 0 58%;
  position: relative;
  aspect-ratio: 96/84;
}
.zoomloupe__image img {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: -18%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 124%;
  -o-object-fit: contain;
     object-fit: contain;
}
.zoomloupe__image .blur {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-60%, -40%);
      -ms-transform: translate(-60%, -40%);
          transform: translate(-60%, -40%);
}
.zoomloupe__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.zoomloupe__title {
  font-family: "Exo 2";
  font-size: 44px;
  font-weight: 700;
  line-height: 1;
  background: linear-gradient(93deg, #16c28a 18.86%, #529dd6 104.88%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.zoomloupe__text {
  color: #a4bcde;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 130%;
}

.reality {
  margin: 70px 0 0 0;
  position: relative;
}
.reality__bg {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.reality__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.reality__container {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reality__content {
  color: #a4bcde;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 130%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.reality__content p {
  max-width: 520px;
  margin-right: auto;
  margin-left: auto;
}
.reality__image {
  position: relative;
  aspect-ratio: 1/1;
  width: 100%;
}
.reality__image img {
  position: absolute;
  width: 130%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.inventory {
  margin: 200px 0 0 0;
}
.inventory__content {
  padding: 70px;
  border-radius: 10px;
  background: rgba(17, 28, 46, 0.8);
  -webkit-box-shadow: 4px 4px 14.5px 0px rgba(0, 0, 0, 0.68);
          box-shadow: 4px 4px 14.5px 0px rgba(0, 0, 0, 0.68);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 70px;
}
.chest-inventory {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
.chest-inventory__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 590px;
  margin: 0 auto;
}
.chest-inventory__image-main {
  margin: -200px 0 -20px 0;
}
.chest-inventory__image-main img {
  width: 100%;
}
.chest-inventory__image-dop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.chest-inventory__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  max-width: 570px;
}
.chest-inventory__title {
  font-family: "Exo 2";
  font-size: 44px;
  font-weight: 700;
  line-height: 100%;
  background: linear-gradient(93deg, #16c28a 18.86%, #529dd6 104.88%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.chest-inventory__text {
  color: #a4bcde;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.picklock-inventory {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
.picklock-inventory__text {
  color: #a4bcde;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  max-width: 506px;
  margin: 0 auto;
}
.picklock-inventory__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.picklock-inventory__image {
  border-radius: 5px;
  background: linear-gradient(162deg, #0a1931 1.26%, #071121 100.3%);
  padding: 8px;
}
.picklock-inventory__image img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.prize {
  max-width: 1920px;
  margin: 150px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 150px;
}
.prize__title {
  text-align: center;
  font-family: "Exo 2";
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  background: linear-gradient(93deg, #16c28a 18.86%, #529dd6 104.88%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.prize__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}
.prize__item {
  padding: 30px;
  border-radius: 10px;
  background: rgba(17, 28, 46, 0.8);
  -webkit-box-shadow: 4px 4px 14.5px 0px rgba(0, 0, 0, 0.68);
          box-shadow: 4px 4px 14.5px 0px rgba(0, 0, 0, 0.68);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.prize__image {
  margin: -110px 0 0 0;
  max-width: 276px;
}
.prize__image img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.prize__name {
  color: #fcfcfc;
  text-align: center;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

.swiper {
  max-width: 70%;
}
.swiper img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.swiper-wrapper {
  width: 100%;
}

.swiper-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.swiper-slide {
  width: 100%;
}

.swiper__arr-left,
.swiper__arr-right {
  margin: 0 -20px 0 -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
           supported by Chrome, Edge, Opera and Firefox */
}

.arr-right,
.arr-left {
  width: 24px;
  height: 18px;
  position: relative;
  -webkit-transition: border 0.6s ease 0s, -webkit-transform 0.6s ease 0s;
  transition: border 0.6s ease 0s, -webkit-transform 0.6s ease 0s;
  transition: border 0.6s ease 0s, transform 0.6s ease 0s;
  transition: border 0.6s ease 0s, transform 0.6s ease 0s, -webkit-transform 0.6s ease 0s;
}
.arr-right:first-child,
.arr-left:first-child {
  margin-right: -5px;
}
.arr-right::before,
.arr-left::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 4px;
  border-radius: 5px;
  background: #5fa8ff;
  top: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.arr-right::after,
.arr-left::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 4px;
  border-radius: 5px;
  background: #5fa8ff;
  bottom: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.arr-right {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.back {
  width: 70%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) matrix(1, 0, 0, -1, 0, 0);
      -ms-transform: translate(-50%, -50%) matrix(1, 0, 0, -1, 0, 0);
          transform: translate(-50%, -50%) matrix(1, 0, 0, -1, 0, 0);
  background: linear-gradient(359.28deg, rgba(95, 168, 255, 0.4) 6.14%, rgba(95, 168, 255, 0.068) 101.75%);
  -webkit-filter: blur(7.5px);
          filter: blur(7.5px);
  z-index: 1;
}

.collaider__blur {
  position: absolute;
  height: 100%;
  left: 50%;
  top: 50%;
  z-index: -10;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
  .swiper__arr-left,
  .swiper__arr-right {
    margin: 0 -10px 0 -10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  .arr-right,
  .arr-left {
    width: 16px;
    height: 12px;
    position: relative;
    -webkit-transition: border 0.6s ease 0s, -webkit-transform 0.6s ease 0s;
    transition: border 0.6s ease 0s, -webkit-transform 0.6s ease 0s;
    transition: border 0.6s ease 0s, transform 0.6s ease 0s;
    transition: border 0.6s ease 0s, transform 0.6s ease 0s, -webkit-transform 0.6s ease 0s;
  }
  .arr-right:first-child,
  .arr-left:first-child {
    margin-right: -3x;
  }
  .arr-right::before,
  .arr-left::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 3px;
    border-radius: 5px;
    background: #5fa8ff;
    top: 0;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .arr-right::after,
  .arr-left::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 3px;
    border-radius: 5px;
    background: #5fa8ff;
    bottom: 0;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .back {
    width: 60%;
  }
}
@media screen and (max-width: 1024px) {
  .mainpage {
    height: min(700px, max(100vh, 500px));
  }
  .mainpage__image {
    max-width: 150px;
  }
  .mainpage__title {
    margin: 30px 0 0 0;
    font-size: 76px;
  }
  .mainpage__bg {
    display: none;
  }
  .mainpage ._main {
    display: block;
  }
  .about {
    margin: 100px 0 0 0;
  }
  .about__container {
    max-width: 588px;
  }
  .ability {
    margin: 120px 0 0 0;
  }
  .ability__title {
    font-size: 24px;
  }
  .ability__image {
    max-width: 92px;
  }
  .ability__text {
    font-size: 12px;
  }
  .zoomloupe__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
  }
  .zoomloupe__title {
    font-size: 24px;
  }
  .zoomloupe__text {
    font-size: 14px;
  }
  .reality__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 55%;
            flex: 0 0 55%;
    font-size: 14px;
  }
  .inventory__content {
    padding: 30px;
  }
  .chest-inventory__image {
    max-width: 360px;
  }
  .chest-inventory__title {
    font-size: 24px;
  }
  .chest-inventory__text {
    font-size: 14px;
  }
  .picklock-inventory__text {
    font-size: 14px;
  }
  .prize {
    margin: 100px auto 0;
    gap: 100px;
    max-width: 800px;
    padding: 0 25px;
  }
  .prize__title {
    font-size: 24px;
    max-width: 303px;
  }
  .prize__name {
    font-size: 20px;
  }
  .prize__list {
    gap: 80px 10px;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 768px) {
  .ability__item {
    padding: 12px;
  }
  .chest-inventory {
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;
  }
  .chest-inventory__image-main {
    margin: -100px 0 0 0;
  }
  .chest-inventory__content {
    margin: 0 auto;
    max-width: 400px;
  }
  .picklock-inventory {
    grid-template-columns: 1fr;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  .picklock-inventory__images {
    grid-row: 1;
  }
}
@media screen and (max-width: 600px) {
  .mainpage__title {
    font-size: 14vw;
    line-height: 17vw;
  }
  .mainpage__btn img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .ability__list {
    grid-template-columns: 1fr;
    gap: 70px;
  }
  .ability__blur {
    display: none;
  }
  .zoomloupe__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .zoomloupe__image {
    width: 100%;
    max-width: 330px;
  }
  .reality__bg {
    top: 0;
    max-height: 330px;
    height: 100%;
  }
  .reality__bg img {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-40%);
        -ms-transform: translateX(-40%);
            transform: translateX(-40%);
    height: 100%;
    width: auto;
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .reality__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 40px;
  }
  .reality__image {
    max-width: 330px;
    width: 100%;
  }
  .reality__image img {
    -webkit-transform: translate(-40%, -50%);
        -ms-transform: translate(-40%, -50%);
            transform: translate(-40%, -50%);
  }
  .reality__content {
    text-align: center;
  }
}
@media only screen and (max-width: 500px) {
  .picklock-inventory__images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .prize__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
.about__item._anim-active,
.form._anim-active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  -webkit-transition: opacity 1.2s ease 0.4s, -webkit-transform 1.2s ease 0.1s;
  transition: opacity 1.2s ease 0.4s, -webkit-transform 1.2s ease 0.1s;
  transition: transform 1.2s ease 0.1s, opacity 1.2s ease 0.4s;
  transition: transform 1.2s ease 0.1s, opacity 1.2s ease 0.4s, -webkit-transform 1.2s ease 0.1s;
}

@-webkit-keyframes slider {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(calc(-50% + 335px));
            transform: translateX(calc(-50% + 335px));
  }
}

@keyframes slider {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(calc(-50% + 335px));
            transform: translateX(calc(-50% + 335px));
  }
}