.header {
    position: fixed;
    z-index: 10;
    width: 100%;
    background: linear-gradient(180deg, rgba(8, 2, 20, 0.2) 6.8%, rgba(0, 0, 0, 0) 78.8%);
    backdrop-filter: blur(2px);
    &__container {
        height: 125px;
        position: relative;
    }

    &__logo {
        cursor: pointer;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__menu {
    }
}
.menu {
    height: 100%;
    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: min(304px, 17vw);
        height: 100%;
    }
    &__list {
        display: flex;
        align-items: center;
        justify-content: right;
        gap: min(50px, 4vw);
        width: 50%;
        &:last-child {
            justify-content: left;
        }
    }

    &__item {
        cursor: pointer;
        font-weight: 500;
        font-size: 15px;
        line-height: 130%;

        text-transform: uppercase;

        transition: transform 0.3s ease, color 0.3s ease;
        &:hover {
            color: #3dffc1;
            transform: scale(1.1);
        }
    }
}
.logo__text {
    display: none;
}

.footer {
    margin: 200px 0 0 0;

    & a {
        color: #fcfcfc;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        margin-top: 12px;
        font-weight: 800;
        font-size: 30px;
        line-height: 36px;
        text-transform: uppercase;
    }

    &__share {
        margin-top: 20px;
        display: flex;
        &--item {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;

            width: 32px;
            height: 32px;

            margin: 0 4px;

            background: #020914;
            border: 1px solid #5fa8ff;
            box-shadow: 0px 0px 10px rgba(95, 168, 255, 0.3);
            border-radius: 5px;
        }
    }

    &__email {
        margin-top: 12px;
        font-weight: 400;
        font-size: 18px;
    }

    &__power {
        margin-top: 20px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;

        display: flex;
        flex-direction: column;
        align-items: center;

        text-transform: uppercase;
        color: #939393;

        & img {
            margin-top: 7px;
        }
    }

    &__policy {
        margin: 60px 0 14px 0;
        font-weight: 400;
        font-size: 10px;
        line-height: 130%;
        text-align: center;

        text-transform: uppercase;

        color: #939393;

        & a {
            text-decoration: underline;
            color: #939393;

            &:hover {
                color: #a2a2a2;
            }
        }
    }
}

@media screen and (max-width: 1023.89px) {
    .header {
        &__container {
            height: 85px;
        }
    }
}
@media screen and (max-width: 850px) {
    .header {
        &__logo {
            & img {
                width: 52px;
            }
        }
    }
    .menu {
        &__item {
            font-size: 12px;
        }
    }
}

.burger {
    display: none;
    position: absolute;
    background: transparent;
    border: 1px solid transparent;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.burger:focus {
    outline-width: 0;
}

.burger [class*="bar-"] {
    background: #fff;
    display: block;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.4s ease all;
    transition: 0.4s ease all;

    border-radius: 8px;
    height: 2px;
    width: 33px;
    margin-bottom: 6px;
}

.burger .bar-bot {
    margin-bottom: 0;
}

.opened .bar-top {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 15% 15%;
    transform-origin: 15% 15%;
}
.opened .bar-mid {
    opacity: 0;
}
.opened .bar-bot {
    -webkit-transform: rotate(45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 15% 95%;
    transform-origin: 15% 95%;
}

@media screen and (max-width: 767.89px) {
    .header {
        &__container {
            display: flex;
            align-items: center;
            max-width: 100%;
        }
        &__bg {
            &_1 {
                opacity: 0;
                visibility: hidden;
                position: absolute;
                width: 100%;
                z-index: -1;
                transition: all 0.6s ease 0s;
                height: 100vh;
                top: 0;
                left: 0;
                background: rgba(0, 0, 0, 0.8);
            }

            &_2 {
                opacity: 0;
                visibility: hidden;
                position: absolute;
                width: 100%;
                z-index: 2;
                background: #020914;
                height: 100%;
                top: 0;
                left: 0;
            }
        }
    }
    .burger {
        display: inline-block;
        z-index: 2;
    }
    .logo {
        display: flex;
        align-items: center;
        position: unset;
        transform: translate(0);
        z-index: 2;
        &__text {
            margin: 0 0 0 12px;

            display: inline-block;
            font-weight: 900;
            font-size: 25px;
            line-height: 30px;
            text-transform: uppercase;

            color: #fcfcfc;
        }
    }
    .menu {
        overflow: auto;
        padding: 85px 0 0 0;
        position: absolute;
        width: 100%;
        height: min(100vh, 400px);
        top: 0;
        right: 0;
        background: #020914;
        transform: translateY(-100%);
        opacity: 0;
        visibility: hidden;
        transition: all 0.6s ease;

        &__content {
            height: auto;
            flex-direction: column;
            gap: 24px;
        }
        &__list {
            flex-direction: column;
            justify-content: center;
            gap: 24px;
        }
        &__item {
            font-weight: 500;
            font-size: 20px;
            line-height: 130%;
            &:hover {
                color: #fcfcfc;
                transform: scale(1);
            }
            &:active {
                color: #3dffc1;
                transform: scale(1.1);
            }
        }
    }
    .header.opened {
        & .menu {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
            z-index: 1;
        }
        & .header__bg_1,
        & .header__bg_2 {
            opacity: 1;
            visibility: visible;
        }
        & .header__bg_2 {
            transition: all 0.6s ease 0s;
        }
    }
}

@media screen and (max-width: 374.89px) {
    .header {
        &__container {
            height: 60px;
        }
    }
    .logo {
        &__text {
            display: none;
        }
    }
    .menu {
        &__list {
            width: 100%;
        }
    }
}
