.picklocks__collaider {
    width: 50%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

    & img {
        width: 100%;
    }
}
.picklocks__collaider--body {
    max-width: 420px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    & .plita {
        width: 100%;
        position: relative;
        z-index: 2;
    }
}
.swiper {
    max-width: 70%;
    img {
        object-fit: contain;
        width: 100%;
    }
}
.swiper-wrapper {
    width: 100%;
}
.swiper-body {
    display: flex;
    align-items: center;
    width: 100%;
}
.swiper-slide {
    width: 100%;
}
.swiper__arr-left,
.swiper__arr-right {
    margin: 0 -20px 0 -20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.arr-right,
.arr-left {
    width: 24px;
    height: 18px;
    position: relative;
    &:first-child {
        margin-right: -5px;
    }
    &::before {
        content: "";
        position: absolute;
        width: 23px;
        height: 4px;
        border-radius: 5px;
        background: #5fa8ff;
        top: 0;
        transform: rotate(-45deg);
    }
    &::after {
        content: "";
        position: absolute;
        width: 23px;
        height: 4px;
        border-radius: 5px;
        background: #5fa8ff;
        bottom: 0;
        transform: rotate(45deg);
    }
    transition: border 0.6s ease 0s, transform 0.6s ease 0s;
}
.arr-right {
    transform: rotate(180deg);
}

.back {
    width: 70%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) matrix(1, 0, 0, -1, 0, 0);
    background: linear-gradient(359.28deg, rgba(95, 168, 255, 0.4) 6.14%, rgba(95, 168, 255, 0.068) 101.75%);
    filter: blur(7.5px);
    z-index: 1;
}

.collaider__blur {
    position: absolute;
    height: 100%;
    left: 50%;
    top: 50%;
    z-index: -10;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 767.89px) {
    .picklocks__collaider--body {
        max-width: 270px;
    }
    .swiper__arr-left,
    .swiper__arr-right {
        margin: 0 -10px 0 -10px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .arr-right,
    .arr-left {
        width: 16px;
        height: 12px;
        position: relative;

        &:first-child {
            margin-right: -3x;
        }
        &::before {
            content: "";
            position: absolute;
            width: 16px;
            height: 3px;
            border-radius: 5px;
            background: #5fa8ff;
            top: 0;
            transform: rotate(-45deg);
        }
        &::after {
            content: "";
            position: absolute;
            width: 16px;
            height: 3px;
            border-radius: 5px;
            background: #5fa8ff;
            bottom: 0;
            transform: rotate(45deg);
        }
        transition: border 0.6s ease 0s, transform 0.6s ease 0s;
    }
    .back {
        width: 60%;
    }
}

@media screen and (max-width: 600px) {
    .picklocks__collaider--body {
        max-width: max(60vw, 230px);
    }
}
