////////////////////// Шрифт //////////////////////
@font-face {
   font-family: "Inter";
   font-style: normal;
   font-weight: 400;
   font-display: swap;
   src: url("../fonts/Inter-Light.woff2") format("woff2"), url("../fonts/Inter-Light.woff") format("woff");
}

@font-face {
   font-family: "Inter";
   font-style: normal;
   font-weight: 500;
   font-display: swap;
   src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
}

@font-face {
   font-family: "Inter";
   font-style: normal;
   font-weight: 600;
   font-display: swap;
   src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
}

@font-face {
   font-family: "Inter";
   font-style: normal;
   font-weight: 700;
   font-display: swap;
   src: url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
}

@font-face {
   font-family: "Inter";
   font-style: normal;
   font-weight: 800;
   font-display: swap;
   src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
}

@font-face {
   font-family: "Inter";
   font-style: normal;
   font-weight: 900;
   font-display: swap;
   src: url("../fonts/Inter-ExtraBold.woff2") format("woff2"), url("../fonts/Inter-ExtraBold.woff") format("woff");
}
////////////////////// Шрифт //////////////////////
///
///
///
////////////////////// Обнуление //////////////////////
* {
   padding: 0;
   margin: 0;
   border: 0;
}
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}
nav,
footer,
header,
aside {
   display: block;
}
html,
body {
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   font-family: "Inter", sans-serif;
   background: #020914;
   color: #fcfcfc;
}
input,
button,
textarea {
   font-family: "Inter", sans-serif;
}
input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
   pointer-events: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: inherit;
}
p {
   margin-top: 10px;
}
////////////////////// Обнуление //////////////////////
///
///
///
////////////////////// Дефолтные блоки //////////////////////
[class*="__container"] {
   max-width: 1450px;
   padding: 0 25px;
   margin: 0 auto;
   @media screen and (max-width: 767.89px) {
      max-width: 770px;
   }
   @media screen and (max-width: 424.89px) {
      max-width: 345px;
      padding: 0 15px;
   }
}
.wrapper {
   overflow: hidden;
   display: flex;
   flex-direction: column;
   min-height: 100%;
   position: relative;
   z-index: 1;

   // background-image: url("../img/Bg_Lines.svg");
   // background-size: 100% 100%;
   // background-position: 38% 15%;
}
body.overflow--hide {
   overflow-y: hidden;
}

.bg__lines {
   position: absolute;
   width: 4500px;
   top: 266px;
}

.btn {
   text-align: center;
   cursor: pointer;
   padding: 13px 60px;

   background: linear-gradient(96.12deg, #00cf8c 7.03%, #008ed7 114.13%);
   box-shadow: inset 0px 0px 0 0 #008ed7, 0px 0px 10px #00b8a5;
   border-radius: 100px;

   font-weight: 600;
   font-size: 16px;
   line-height: 140%;
   color: #0a0c0d;
   transition: box-shadow 0.7s ease;

   &:hover {
      box-shadow: inset 0px 0px 80px -30px #008ed7, 0px 0px 10px #00b8a5;
   }

   @media screen and (max-width: 767.89px) {
      &:hover {
         box-shadow: none;
      }
      &:active {
         transition: box-shadow 0.2s ease;
         box-shadow: inset 0px 0px 80px -30px #008ed7, 0px 0px 10px #00b8a5;
      }
   }

   @media screen and(max-width:600px) {
      max-width: 343px;
      width: 100%;
      &.popup__close-btn {
         width: auto;
      }
   }
}

.title-grad {
   font-weight: 700;
   font-size: 46px;
   line-height: 130%;

   background: linear-gradient(93.34deg, #16c28a 18.86%, #529dd6 104.88%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   text-fill-color: transparent;
   @media screen and(max-width: 767.89px) {
      font-size: 35px;
      line-height: 110%;
   }
}

.full-bg {
   position: absolute;
   top: 266px;
   width: 238%;
   height: 130%;
   left: -66%;
   z-index: -50;
   object-fit: cover;
}
////////////////////// Дефолтные блоки //////////////////////
///
///
///
/////////////////////////////////////////////////////////////
.preloader {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 50;
   overflow: hidden;
   background: #040718;

   &__procents {
      position: absolute;
      left: 50%;
      top: 90%;
      transform: translate(-50%, -50%);

      font-weight: 800;
      font-size: 40px;
      text-transform: uppercase;
      background: linear-gradient(93.34deg, #16c28a 18.86%, #529dd6 104.88%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;

      text-shadow: 0px 0px 40px rgba(61, 255, 193, 0.3);
   }

   & svg,
   & img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   }
}

.preloader--hide {
   display: none;
}

circle {
   stroke: #3dffc1;
   transition: all 0.2s ease;
}

body.overflow--hide {
   overflow-y: hidden;
}
.popup {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   z-index: 10;
   opacity: 0;
   visibility: hidden;
   background-color: rgba(0, 0, 0, 0.8);
   backdrop-filter: blur(15px);
   transition: opacity 1s ease 0s;

   &__body {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100%;
   }

   &__content {
      width: 450px;
      height: 450px;
      position: relative;

      border: 1px solid #3dffc1;
      box-shadow: 0px 0px 40px rgba(61, 255, 193, 0.3);
      background: #040718;
      border-radius: 50%;

      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      transition: opacity 0.5s ease 0s;
      opacity: 0;

      & h1 {
         font-weight: 900;
         font-size: 150px;
         margin-top: 114px;

         text-transform: uppercase;

         background: linear-gradient(93.34deg, #16c28a 18.86%, #529dd6 104.88%);
         text-shadow: 0px 0px 40px rgba(61, 255, 193, 0.3);
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
         background-clip: text;
      }

      & p {
         font-weight: 400;
         font-size: 18px;
      }
   }

   &__close-btn {
      z-index: 11;
      margin-top: 50px;

      font-weight: 600;
   }

   &__UFO {
      width: 64.6%;
      position: absolute;
      top: -16%;
      left: 4%;
      opacity: 1;
      transform: translate(-200%, -400%);

      .blur {
         position: absolute;
         left: 107px;
         top: 50px;
         z-index: -1;
         width: 60%;
      }
   }
}

.popup.open {
   visibility: visible;
   opacity: 1;
   overflow-y: hidden;
}

.popup.open .popup__UFO {
   transform: translate(0, 0);
   transition: transform 1s ease;
}

.popup.open .blur {
   animation: UFO 1.8s linear;
}

.popup.open .popup__content {
   opacity: 1;
}

@keyframes UFO {
   0% {
      opacity: 0;
   }
   50% {
      opacity: 0;
   }
   60% {
      opacity: 1;
   }
   70% {
      opacity: 0;
   }
   90% {
      opacity: 1;
   }
   95% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

.email-accept {
   & p {
      text-align: center;
      line-height: 140%;
   }

   img {
      margin: 40px 0 0 0;
   }

   & .btn {
      margin-top: 32px;
   }
}
.cookie {
   padding: 20px;

   position: fixed;
   bottom: 2vw;
   left: 50px;
   z-index: 25;

   display: flex;
   align-items: center;

   transition: transform 0.8s ease-in-out 0.1s, opacity 0.8s ease-in-out 0.1s;

   background: rgba(4, 7, 24, 0.9);
   border: 1px solid #3dffc1;
   border-radius: 10px;

   &__text {
      font-weight: 500;
      font-size: 14px;
      line-height: 140%;
      z-index: 25;
   }

   &__btn {
      cursor: pointer;
      font-weight: 500;
      font-size: 14px;
      line-height: 130%;
      padding: 3px 32px;
      color: #0a0c0d;
      background: #fcfcfc;

      border-radius: 100px;
      margin-left: 10px;
      z-index: 26;
      transition: background 0.8s ease;

      overflow: hidden;
      position: relative;

      &:hover {
         background: #cccccc;
      }
   }

   img {
      position: absolute;
      top: -19px;
      left: -10px;
   }

   & p {
      margin-top: 0;
   }
}

.cookie--hide {
   opacity: 0;
   transform: translate(0, 140%);
}

@media screen and (max-width: 767.89px) {
   .cookie {
      width: 80vw;
      padding: 20px 10px;
      left: 50%;
      transform: translateX(-50%);
   }

   .cookie--hide {
      transform: translate(-50%, 140%);
   }

   @media (max-width: 660px) {
      .cookie {
         flex-direction: column;
         text-align: center;
         &__btn {
            margin: 10px 0 0 0;
            padding: 6px 32px;
         }
      }
      .preloader {
         & img,
         & svg,
         & span {
            transform: translate(-50%, -50%) scale(0.8);
         }
         & span {
            margin-top: 0px;
         }
      }
   }
   .popup {
      &__content {
         width: 70vw;
         height: 70vw;
      }
      &__content {
         & h1 {
            font-size: 25vw;
            margin-top: 16%;
         }

         & p {
            font-size: 3vw;
         }

         & .btn {
            padding: 3% 12%;
            font-size: 3vw;
            margin-top: 8%;
         }
      }
      &__UFO {
         position: absolute;
         top: -16%;
         left: -15%;
         width: 70%;
         height: 20vw;
         & img {
            position: absolute;
            width: 80%;
            left: 30%;
            top: 12%;
         }
         & .blur {
            transform: translateX(-40%);
            width: 40%;
            top: 55%;
            left: 78%;
         }
         // display: none;
      }
   }

   .email-accept {
      & img {
         margin: 8vw 0 4vw 0;
         width: 30vw;
      }
   }
}

@media screen and (max-width: 530px) {
   .cookie__text {
      max-width: 220px;
   }
}

@media (max-width: 475px) {
   .popup {
      &__content {
         & h1 {
            font-size: 25vw;
            margin-top: 18%;
         }
      }
   }
}

@media screen and (max-width: 424.89px) {
   .preloader {
      & img,
      & svg,
      & span {
         transform: translate(-50%, -50%) scale(0.6);
      }
   }

   @media (max-width: 350px) {
      .preloader {
         & img,
         & svg,
         & span {
            transform: translate(-50%, -50%) scale(0.3);
         }
      }
   }
}
/////////////////////////////////////////////////////////////
input.error {
   border: 1px solid #be1111;
   box-shadow: none;
   &:focus {
      border: 1px solid #be1111;
      box-shadow: none;
   }
}

/* Webkit */
input:focus::-webkit-input-placeholder {
   opacity: 0;
   transition: opacity 0.4s ease 0s;
}
/* Mozilla Firefox 4 - 18 */
input:focus:-moz-placeholder {
   opacity: 0;
   transition: opacity 0.4s ease 0s;
}
/* Mozilla Firefox 19+ */
input:focus::-moz-placeholder {
   opacity: 0;
   transition: opacity 0.4s ease 0s;
}
/* IE 10+ */
input:focus:-ms-input-placeholder {
   opacity: 0;
   transition: opacity 0.4s ease 0s;
}

/* Webkit */
input::-webkit-input-placeholder {
   color: #939393;
}
/* Mozilla Firefox 4 - 18 */
input:-moz-placeholder {
   color: #939393;
}
/* Mozilla Firefox 19+ */
input::-moz-placeholder {
   color: #939393;
}
/* IE 10+ */
input:-ms-input-placeholder {
   color: #939393;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
   -webkit-box-shadow: 0 0 0 100px #01050c inset !important;
   -webkit-text-fill-color: #fcfcfc !important;
}
input.error:-webkit-autofill,
input.error:-webkit-autofill:hover,
input.error:-webkit-autofill:focus {
   -webkit-box-shadow: 0 0 0 100px #01050c inset !important;
}
/////////////////////////////////////////////////////////////
