@import "_nullStyle";
@import "_header-footer";

.main {
   flex: 1 1 100%;
}

.mainpage {
   margin: 125px 0 0 0;

   &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      z-index: 1;
   }

   &__image {
   }

   &__title {
      font-weight: 900;
      font-size: 150px;
      line-height: 182px;

      white-space: nowrap;
   }

   &__info {
      margin: 10px 0 0 0;
      max-width: 665px;

      font-weight: 400;
      font-size: 16px;
      line-height: 130%;

      text-align: center;
   }

   &__btn {
      box-shadow: none;
      width: 346px;
      &._1 {
         margin-top: 73px;
         &:hover {
            box-shadow: inset -100px -20px 80px -30px #008ed7;
         }
      }
      &._2 {
         margin: 16px 0 0 0;
         padding: 13px 128.5px;

         border: 1px solid #fcfcfc;
         background: transparent;
         color: #fcfcfc;
         &:hover {
            border-color: #2de5e5;
            box-shadow: inset 0 0 1px 1px #2de5e5;
            // color: #2de5e5;
         }
      }
   }

   & .blurs {
      margin: -125px 0 0 0;
      position: absolute;
      width: 100%;
      height: calc(100% + 125px);
      z-index: -1;
      & img {
         position: absolute;
      }

      & ._1 {
         filter: blur(102px);
         width: min(977px, 68vw);
         top: -582px;
         left: 50%;
         transform: translate(-50%, 0);
      }
      & ._2 {
         filter: blur(250px);
         transform: rotate(120deg);
         width: min(850px, 59vw);
         top: -492px;
         left: -470px;
      }

      & ._3 {
         filter: blur(250px);
         transform: rotate(120deg);
         width: min(632px, 44vw);
         top: 130px;
         right: 99%;
      }
      & ._4 {
         filter: blur(400px);
         width: min(632px, 44vw);
         top: -24px;
         left: 50%;
         transform: translate(-50%, 0);
      }
      & ._5 {
         filter: blur(250px);
         width: min(850px, 59vw);
         top: -311px;
         right: -155px;
      }
      & ._6 {
         filter: blur(250px);
         width: min(632px, 44vw);
         top: 160px;
         right: 40px;
      }
      & ._7 {
         filter: blur(250px);
         width: min(632px, 44vw);
         top: 219px;
         left: 100%;
      }
      & ._8 {
         filter: blur(250px);
         width: min(632px, 44vw);
         top: -140px;
         left: 99%;
      }
   }
}

.about {
   margin: 200px 0 0 0;
   &__container {
      display: flex;
   }

   &__item {
      flex: 0 0 50%;
      display: flex;

      transform: translateX(-40%);
      opacity: 0;

      &:last-child {
         justify-content: center;
         transform: translateX(40%);
      }
   }

   &__content {
      width: 86%;
   }

   &__title {
      font-weight: 600;
      font-size: 30px;
      line-height: 36px;
   }

   &__line {
      margin: 20px 0;
      height: 1px;
      width: 50px;

      border-radius: 5px;

      border: 1px solid #5fa8ff;
      background-color: #5fa8ff;
      box-shadow: 0px 0px 10px rgba(95, 168, 255, 0.3);
   }

   &__info {
      font-weight: 400;
      font-size: 18px;
      line-height: 130%;
   }
}

.steps {
   margin: 200px 0 0 0;
   &__container {
      display: flex;
      gap: 30px;
      position: relative;
      z-index: 1;
   }

   & .blur {
      position: absolute;
      width: 100%;
      z-index: -1;
      top: 50%;
      left: 2%;
      transform: translateY(-50%);
      filter: blur(150px);
   }

   &__item {
      max-width: 445px;
      width: 100%;
      background: #01050c;
      border: 1px solid #5fa8ff;
      box-shadow: 0px 0px 10px rgba(95, 168, 255, 0.3);
      border-radius: 10px;
      padding: 15px 30px;

      display: flex;
      align-items: center;

      position: relative;
   }

   &__number {
      margin: 0 16px 0 0;
      font-weight: 700;
      font-size: 110px;
      line-height: 133px;

      background: linear-gradient(93.34deg, #16c28a 18.86%, #529dd6 104.88%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
   }

   &__info {
   }

   &__title {
      font-weight: 500;
      font-size: 30px;
      line-height: 36px;

      color: #eff2f2;
   }

   &__text {
      margin: 6px 0 0 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      max-width: 255px;

      color: #939393;
   }

   @media screen and (max-width: 1340px) {
      &__container {
         gap: 15px;
      }
      &__item {
         padding: 10px;
      }
      &__title {
         font-size: 20px;
      }
      &__text {
         font-size: 14px;
         max-width: 225px;
      }
   }
}

.email {
   margin: 200px 0 0 0;
   &__container {
      position: relative;
   }

   &__block {
      overflow: hidden;
      padding: 80px 0;
      background: linear-gradient(0deg, rgba(1, 5, 12, 0.8), rgba(1, 5, 12, 0.8)), url("../img/bg_street.png") no-repeat;
      background-size: cover;
      border: 1px solid #5fa8ff;
      box-shadow: 0px 0px 10px rgba(95, 168, 255, 0.3);
      border-radius: 30px;
      z-index: 2;

      position: relative;
   }

   & .blur {
      position: absolute;
      z-index: 1;
      filter: blur(150px);

      &._1 {
         width: 72%;
         left: 0;
         top: 50%;
         transform: translate(0, -50%);
      }

      &._2 {
         width: 28%;
         right: 0;
         top: 50%;
         transform: translate(0, -50%);
         filter: blur(150px);
      }
   }

   &__content {
      max-width: 540px;
      margin: 0 auto;
   }

   &__title {
      text-align: center;

      transform: translateX(-40%);
      opacity: 0;
   }

   &__info {
      margin: 12px 0 0 0;

      font-weight: 400;
      font-size: 18px;
      line-height: 130%;

      text-align: center;
   }
}
.form {
   margin: 40px 0 0 0;
   display: flex;
   align-items: start;

   transform: translateY(140%);
   opacity: 0;
   &__item {
      text-align: center;
      width: 100%;
   }

   &__label {
   }

   &__input {
      background: #01050c;
      border: 1px solid #fcfcfc;

      padding: 13px 30px;

      width: 322px;
      height: 48px;

      border-radius: 100px;

      font-size: 16px;
      line-height: 140%;

      color: #fcfcfc;

      transition: box-shadow 0.8s ease;
      &:focus {
         box-shadow: 0px 0px 4px #fcfcfc;
      }
   }

   &__btn {
      margin: 0 0 0 10px;
   }

   & span {
      opacity: 0;
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      color: #bf1214;
      margin-top: 5px;
      &.error {
         opacity: 1;
      }
   }
}

.miticoin {
   margin: 265px 0 0 0;
   &__container {
      display: flex;
   }

   &__video {
      flex: 0 0 50%;
   }

   &__video--block {
      max-width: 385px;
      margin: 0 auto;
      position: relative;

      & video {
         width: 100%;
         z-index: 1;
      }
      & img {
         width: 100%;
         position: relative;
         z-index: 3;
      }
      & .bg {
         position: absolute;
         width: 200%;
         height: 200%;
         background: #020914;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         z-index: -10;
         filter: blur(100px);
      }
   }

   & .blur {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
      filter: blur(7.5px);
   }

   &__content {
      flex: 0 0 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
   }

   &__title {
      transform: translateX(40%);
      opacity: 0;
   }

   &__info {
      margin: 20px 0 0 0;
      font-weight: 400;
      font-size: 18px;
      line-height: 130%;
   }

   &__btn {
      margin: 50px 0 0 0;
   }
}

.phone {
   margin: 248px 0 0 0;
   &__container {
      position: relative;
      z-index: 1;
   }
   &__block {
      padding: 80px 0;
      display: flex;
      background: linear-gradient(
            94.01deg,
            rgba(0, 0, 0, 0.774) 0.48%,
            rgba(0, 0, 0, 0.684) 44%,
            rgba(0, 0, 0, 0.594) 56.19%,
            rgba(0, 0, 0, 0) 68.46%
         ),
         url("../img/bg_street.png") no-repeat;
      background-size: cover;
      border: 1px solid #5fa8ff;
      filter: drop-shadow(0px 0px 10px rgba(95, 168, 255, 0.3));
      border-radius: 30px;
      z-index: 1;
   }
   & .blur {
      position: absolute;
      width: 46%;
      right: 0;
      top: 0;
      z-index: -10;
      filter: blur(250px);
      transform: translateY(-30%);
   }

   &__content {
      flex: 0 0 50%;
      display: flex;
      justify-content: end;
   }
   &__content--block {
      margin: 0 10px 0 80px;
      max-width: 600px;
   }

   &__title {
      transform: translateX(-40%);
      opacity: 0;
   }

   &__info {
      margin: 20px 0 0 0;
      font-weight: 400;
      font-size: 18px;
      line-height: 130%;
   }

   &__image {
      position: relative;
      flex: 0 0 50%;
   }
   &__image--block {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   }

   & .img-phone {
      width: 100%;
   }
   & .img-phone-down {
      position: absolute;
      width: 230%;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -20%) scale(0);
      opacity: 0;

      filter: drop-shadow(0px 0px 15px #25bc8e);
      z-index: -1;
   }
   & .img-phone-bg {
      position: absolute;
      width: 262%;
      top: 0;
      left: 50%;
      transform: translate(-52%, 40%) scale(0);
      opacity: 0;
      z-index: -1;
   }
   & .img-phone-blur {
      position: absolute;
      width: 120%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      filter: blur(100px);
   }
}

.picklocks {
   margin: 225px 0 0 0;
   &__container {
      display: flex;
      align-items: center;
   }

   &__content {
      display: flex;
      flex-direction: column;
      align-items: start;
      flex: 0 1 545px;
      position: relative;
   }

   & .image-blur {
      position: absolute;
      top: 30px;
      left: 20px;
      filter: blur(50px);
   }

   &__title {
      transform: translateX(50%);
      opacity: 0;
   }

   &__info {
      margin-top: 20px;
      font-weight: 400;
      font-size: 18px;
      line-height: 130%;
   }

   &__btn {
      margin-top: 50px;
   }
}
@import "_myswiper";

.awards {
   margin: 200px 0 0 0;
   &__container {
      position: relative;
      z-index: 1;
   }

   & .bg {
      position: absolute;
      width: 20%;
      z-index: -5;
      filter: blur(2.5px);

      &._1 {
         top: 0;
         right: 0;
         transform: translate(0);
         opacity: 0;
      }

      &._2 {
         bottom: 0;
         left: 0;
         transform: translate(0);
      }
   }

   & .blur {
      position: absolute;
      z-index: -6;
      filter: blur(250px);

      &._phone {
         display: none;
      }

      &._1 {
         width: 33%;
         top: 4%;
         right: 9%;
      }
      &._2 {
         width: 45%;
         bottom: 0;
         right: 0;
      }
      &._3 {
         width: 45%;
         bottom: 0;
         left: 0;
      }
      &._4 {
         width: 27%;
         top: 10%;
         left: 11%;
      }
   }

   &__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }

   &__name {
      text-align: center;
      transform: translateX(100%);
      opacity: 0;
   }

   &__item {
      background: #01050c;
      border: 1px solid #5fa8ff;
      box-shadow: 0px 0px 10px rgba(95, 168, 255, 0.3);
      border-radius: 10px;
      height: 445px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: end;
      padding: 30px 20px;
      margin: 30px 0 0 0;

      &:nth-child(1) {
         flex: 0 0 49%;
         & .awards__info {
            max-width: 365px;
         }
      }
      &:nth-child(2) {
         flex: 0 0 49%;
         & .awards__info {
            max-width: 391px;
         }
      }
      &:nth-child(3) {
         flex: 0 0 32%;
         & .awards__title {
            margin: 40px 0 0 0;
         }
         & .awards__image {
            max-width: 90%;
         }
         & .awards__info {
            max-width: 200px;
         }
         & .blur {
            width: 70%;
         }
      }
      &:nth-child(4) {
         flex: 0 0 32%;
         & .awards__title {
            margin: 50px 0 0 0;
         }
         & .awards__image {
            max-width: 90%;
         }
         & .awards__info {
            max-width: 255px;
         }
         & .blur {
            width: 120%;
         }
      }
      &:nth-child(5) {
         flex: 0 0 32%;
         & .awards__title {
            margin: 60px 0 0 0;
         }
         & .awards__image {
            max-width: 90%;
         }
         & .awards__info {
            max-width: 310px;
         }
         & .blur {
            width: 90%;
         }
      }
   }

   &__image {
      max-width: 60%;
      justify-items: start;
      position: relative;

      & img {
         width: 100%;
         z-index: 3;
         position: relative;
      }
      & .blur {
         position: absolute;
         width: 65%;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         z-index: 1;

         filter: blur(50px);
      }
      & .smoke {
         position: absolute;
         width: 120%;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         z-index: 2;
      }
   }

   &__title {
      margin: 30px 0 0 0;
      font-weight: 500;
      font-size: 30px;
      line-height: 36px;
      text-align: center;

      color: #eff2f2;
   }

   &__info {
      margin-top: 6px;
      font-weight: 400;
      font-size: 18px;
      line-height: 130%;
      text-align: center;

      color: #939393;
   }

   &__swiper {
      width: min(450px, 100%);
      width: 100%;
      display: none;
   }
}

.equipments {
   margin-top: 200px;
   &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   &__title {
      transform: translateX(-100%);
      opacity: 0;
   }

   &__text {
      margin-top: 20px;

      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
   }

   &__menu--body {
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;
      z-index: 2;
   }

   &__select {
      position: relative;
      z-index: 1;
   }

   &__menu {
      position: relative;
      z-index: 1;

      margin-top: 40px;

      width: 100%;
      display: flex;
      justify-content: center;
      gap: 30px;

      border-top: 1px solid #5fa8ff;
      border-bottom: 1px solid #5fa8ff;

      padding: 20px 0;
   }

   &__menu--item {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      height: 32px;
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;

      font-weight: 400;
      font-size: 16px;
      line-height: 140%;

      transition: all 0.8s ease;

      &:hover {
         color: #3dffc1;
      }
      @media screen and (max-width: 767.89px) {
         &:hover {
            color: #fcfcfc;
         }
      }

      &._active {
         padding: 0 30px;

         background: #01050c;
         border: 1px solid #5fa8ff;
         box-shadow: 0px 0px 10px rgba(95, 168, 255, 0.3);
         border-radius: 100px;
         &:hover {
            color: #fcfcfc;
         }
      }
   }
}
.select-equipments {
   cursor: pointer;
   display: none;
   align-items: center;
   justify-content: space-between;
   width: min(100%, 400px);
   padding: 13px 15px 13px 30px;

   background: #01050c;
   border: 1px solid #5fa8ff;
   box-shadow: 0px 0px 10px rgba(95, 168, 255, 1);
   border-radius: 100px;
   position: relative;
   z-index: 3;

   &__arr {
      transition: transform 0.6s ease;
      position: relative;
      width: 16px;
      &::after,
      &::before {
         content: "";
         height: 2px;
         width: 10px;
         position: absolute;
         top: 0;
         background: #5fa8ff;
         box-shadow: 0px 0px 10px;
         border-radius: 5px;
      }

      &::after {
         left: 0;
         transform: rotate(45deg);
      }
      &::before {
         right: 0;
         rotate: -45deg;
      }
   }
}

.information {
   position: relative;
   z-index: 1;
   margin-top: 20px;

   & .blur {
      position: absolute;
      width: min(400px, 100%);
      right: 10%;
      top: 50%;
      transform: translateY(-50%);
      filter: blur(250px);
      z-index: -3;
   }

   &__block {
      display: flex;
      align-items: center;
      justify-content: center;

      opacity: 0;
      overflow: hidden;
      transition: opacity 0.8s ease;

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &._active {
         opacity: 1;
         overflow: visible;
      }
      &.main {
         position: relative;
         top: 0;
         left: 0;
         width: auto;
         height: auto;
      }
   }

   &__about {
      flex: 0 1 475px;
      margin: 0 71px 0 0;
   }

   &__details {
      flex: 0 1 466px;
   }

   &__name {
      font-weight: 600;
      font-size: 30px;
      line-height: 120%;
   }

   &__line1 {
      margin: 20px 0;
      height: 1px;
      width: 50px;
      border-radius: 5px;

      border: 1px solid #5fa8ff;
      background-color: #5fa8ff;
      box-shadow: 0px 0px 10px rgba(95, 168, 255, 0.3);
   }

   &__info {
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
   }

   &__item {
      margin: 20px 0 0 0;
      padding: 0 0 0 30px;

      height: 102px;
      background: #01050c;
      border: 1px solid #5fa8ff;
      box-shadow: 0px 0px 10px rgba(95, 168, 255, 0.3);
      border-radius: 10px;

      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   &__text {
      flex: 0 60%;
   }

   &__lvl {
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;

      text-transform: uppercase;

      color: #939393;
   }

   &__boost {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #eff2f2;

      & span {
         color: #27b69d;
      }
   }

   &__line {
      border: 1px solid #5fa8ff;
      height: 42px;
      width: 1px;
      border-radius: 5px;
   }

   &__image {
      flex: 0 0 40%;
      display: flex;
      justify-content: center;
   }
}

.helpus {
   margin: 282px 0 0 0;
   &__container {
      position: relative;
      z-index: 1;
   }
   &__block {
      padding: 80px;

      display: flex;
      align-items: center;
      background: #01050c;
      border: 1px solid #5fa8ff;
      box-shadow: 0px 0px 10px rgba(95, 168, 255, 0.3);
      border-radius: 30px;
   }
   & .blur._6 {
      position: absolute;
      z-index: -1;
      width: 65%;
      left: 7%;
      top: 0;
      filter: blur(50px);
   }
   & .blur._phone {
      position: absolute;
      filter: blur(150px);
      display: none;
   }
   & .bg {
      position: absolute;
      width: 95%;
      z-index: -5;
      filter: blur(25px);
      transform: scale(0);
      &._1 {
         left: -10%;
         top: 50%;
      }
      &._2 {
         right: -20%;
         top: -70%;
      }
   }

   &__content {
      flex: 0 0 75%;
      display: flex;
      flex-direction: column;
      align-items: start;
   }

   &__txt {
      font-weight: 500;
      font-size: 25px;
      line-height: 30px;
      transform: translateX(-50%);
      opacity: 0;
   }

   &__title {
      margin: 6px 0 0 0;
      transform: translateX(-50%);
      opacity: 0;
      position: relative;

      .blur._5 {
         position: absolute;
         width: 45%;
         left: -5%;
         top: 50%;
         filter: blur(150px);
      }
   }

   &__info {
      margin: 30px 0 0 0;
      font-weight: 400;
      font-size: 18px;
      line-height: 130%;
   }

   &__coins {
      margin: 48px 0 0 0;
      display: flex;
      gap: 60px;

      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #eff2f2;
   }

   &__line {
      background: #5fa8ff;
      border-radius: 10px;
      margin: 0 12px;
      height: 19px;
      width: 1px;
   }

   &__mc,
   &__nfta {
      display: flex;
      align-items: center;
      width: 170px;
      padding: 10px 20px;
      background: #01050c;
      border: 1px solid #5fa8ff;
      box-shadow: 0px 0px 10px rgba(95, 168, 255, 0.3);
      border-radius: 10px;

      position: relative;
      & img {
         position: absolute;
         width: 45%;
         right: 0;
         top: 50%;
         transform: translate(40%, -50%);
      }
   }
   &__nfta {
      & img {
         width: 80%;
         transform: translate(44%, -45%);
      }
   }

   &__btn {
      margin: 68px 0 0 0;
   }

   &__image {
      position: absolute;
      width: 47%;
      bottom: 0;
      right: 1%;
      & .main-img {
         width: 100%;
         z-index: 2;
         position: relative;
      }

      & .blur {
         position: absolute;
         &._1 {
            right: 0;
            top: 30%;
            filter: blur(250px);
            width: 50%;
            z-index: 3;
         }
         &._2 {
            z-index: 1;
            right: -7%;
            top: 23%;
            width: 100%;
            filter: blur(75px);
         }
         &._3 {
            z-index: 1;
            top: 50%;
            width: 80%;
            left: 50%;
            transform: translateX(-50%);
            filter: blur(100px);
         }
         &._4 {
            z-index: 1;
            bottom: 3%;
            width: 40%;
            left: 50%;
            transform: translateX(-50%);
            filter: blur(100px);
         }
      }
   }
}

@media screen and (max-width: 1170px) {
   .awards {
      margin: 160px 0 0 0;
      &__item {
         padding: 20px 10px;
         height: 30vw;
         margin: 20px 0 0 0;

         &:nth-child(1) {
            .awards__image {
               max-width: 40%;
            }
            .awards__title {
               margin: 20px 0 0 0;
            }
            & .blur {
               width: 55%;
            }
            .awards__info {
               max-width: 350px;
            }
         }
         &:nth-child(2) {
            .awards__image {
               max-width: 40%;
            }
            .awards__title {
               margin: 20px 0 0 0;
            }
            & .blur {
               width: 55%;
            }
         }
         &:nth-child(3) {
            .awards__image {
               max-width: 50%;
            }
            & .blur {
               width: 55%;
            }
            .awards__title {
               margin: 10% 0 0 0;
            }
            .awards__info {
               max-width: 180px;
            }
         }
         &:nth-child(4) {
            .awards__image {
               max-width: 70%;
            }
            & .blur {
               width: 130%;
            }
            .awards__title {
               margin: 10% 0 0 0;
            }
         }
         &:nth-child(5) {
            .awards__image {
               max-width: 50%;
            }
            .awards__title {
               margin: 14% 0 0 0;
            }
            .awards__info {
               max-width: 280px;
            }
         }
      }

      &__image {
         max-width: 50%;
         & img {
         }
         & .blur {
         }
         & .smoke {
         }
      }

      &__title {
         font-size: 16px;
         line-height: 19px;
      }

      &__info {
         font-size: 14px;
         line-height: 130%;
      }
   }
}

@media screen and (max-width: 1023.89px) {
   .mainpage {
      margin: 85px 0 0 0;
      &__container {
      }

      &__image {
         max-width: 285px;
         & img {
            width: 100%;
         }
      }

      &__title {
         font-size: 80px;
         line-height: 97px;
      }

      &__info {
         margin: 5px 0 0 0;
         font-size: 14px;
      }

      &__btn {
         &._1 {
            margin: 30px 0 0 0;
         }
         &._2 {
            margin: 15px 0 0 0;
         }
      }

      & .blurs {
         margin: -125px 0 0 0;
         position: absolute;
         width: 100%;
         height: calc(100% + 125px);
         z-index: -1;
         & img {
            position: absolute;
         }

         & ._1 {
            filter: blur(102px);
            width: 45%;
            top: 0;
            left: 0;
            transform: translate(5%, -50%);
         }
         & ._2 {
            filter: blur(250px);
            transform: rotate(120deg);
            width: 50%;
            top: 50%;
            left: 0;
            transform: translate(-50%, -50%);
         }

         & ._3 {
            filter: blur(250px);
            width: 60%;
            top: 130px;
            right: 99%;
            transform: translateX(-50%);
         }
         & ._4 {
            filter: blur(400px);
            width: 60%;
            top: -24px;
            left: 50%;
            transform: translate(-50%, 0);
         }
         & ._5 {
            filter: blur(250px);
            width: 60%;
            top: -311px;
            right: -155px;
         }
         & ._6 {
            filter: blur(250px);
            width: 60%;
            top: 160px;
            right: 40px;
         }
         & ._7 {
            display: none;
            filter: blur(250px);
            width: 80%;
            top: 170px;
            right: -20%;
         }
         & ._8 {
            filter: blur(250px);
            width: 60%;
            top: -140px;
            left: 99%;
         }
      }
   }

   .about {
      margin: 150px 0 0 0;
      &__container {
         gap: 30px;
      }
      &__item {
         flex: 1 1 50%;
      }
      &__content {
         width: 100%;
      }
      &__line {
         margin: 15px 0;
      }
   }

   .steps {
      margin: 85px 0 0 0;
      &__container {
         flex-direction: column;
         align-items: center;
         gap: 20px;
      }
      &__item {
         max-width: min(100%, 410px);
         padding: 10px 30px;
      }
      &__number {
         font-size: 80px;
         line-height: 97px;
      }
      &__title {
         line-height: 1em;
      }
   }

   .miticoin {
      margin: 224px 0 0 0;
      &__video {
         flex: 0 0 45%;
      }
      &__video--block {
         margin: 0 20px;
      }
      &__content {
         flex: 0 0 55%;
      }
      &__info {
         font-size: 14px;
      }
      &__btn {
         margin: 28px 0 0 0;
      }
   }

   .phone {
      &__block {
         padding: 40px;
      }
      &__content {
         flex: 0 0 65%;
      }
      &__image {
         flex: 0 0 35%;
      }

      &__content--block {
         margin: 0;
      }
      &__image--block {
         width: 165px;
      }
   }

   .picklocks {
      &__content {
         margin-left: 40px;
      }
   }

   .awards {
      &__item {
         height: 35vw;
      }
   }

   .equipments {
      &__menu {
         gap: 24px;
      }
      &__menu--item {
         font-size: 12px;
      }
   }
   .information {
      margin: 30px 0 0 0;
      &__name {
         font-size: 20px;
         line-height: 120%;
      }
      &__info {
         font-size: 16px;
         line-height: 130%;
      }
      &__lvl {
         font-size: 12px;
         line-height: 130%;
         text-transform: uppercase;
      }
      &__boost {
         font-size: 14px;
         line-height: 17px;
      }
      &__image {
         & img {
            width: 130px;
         }
      }
   }

   .helpus {
      margin: 150px 0 0 0;
      &__block {
         padding: 40px;
      }
      &__txt {
         font-size: 18px;
         line-height: 22px;
      }
      &__title {
         font-size: 35px;
         line-height: 120%;
      }
      &__info {
         font-size: 14px;
         line-height: 130%;
         margin: 20px 0 0 0;
      }
      &__line {
         margin: 0 6px;
      }
      &__mc,
      &__nfta {
         padding: 10px;
         font-size: 14px;
         line-height: 17px;
         width: 120px;
      }

      &__mc img {
         max-width: 50%;
      }
      &__nfta img {
         max-width: 90%;
      }

      &__btn {
         margin: 40px 0 0 0;
      }
      & .bg {
         display: none;
      }
   }
}

@media screen and (max-width: 767.89px) {
   .about {
      &__item {
         font-size: 14px;
      }
   }

   .email {
      margin: 150px 0 0 0;
      &__block {
         padding: 40px 15px;
      }
      &__info {
         font-size: 14px;
         margin: 12px 0 0 0;
         max-width: 454px;
      }
      & .form {
         margin: 30px 0 0 0;
      }
   }

   .phone {
      &__info {
         font-size: 14px;
      }
   }

   .picklocks {
      &__content {
         margin-left: 10vw;
      }
   }

   .awards {
      margin: 150px 0 0 0;
      &__name {
         text-align: center;
      }
      &__content {
         display: none;
      }
      &__swiper {
         margin: 18px auto 0 auto;
         display: block;

         width: min(343px, 100%);

         & .swiper {
            max-width: 100%;
            &-wrapper {
               display: flex;
               align-items: stretch;
            }

            & .awards__image {
               max-width: 50%;
            }

            & .awards__title {
               margin: 5% 0 0 0;
            }

            &-slide {
               width: 100%;

               display: flex;
               align-items: center;
               justify-content: space-between;
               flex-direction: column;

               background: #01050c;
               border: 1px solid #5fa8ff;
               box-shadow: 0px 0px 10px rgba(95, 168, 255, 0.3);
               border-radius: 10px;
               padding: 60px 7px;
               height: auto;

               &:nth-child(4) {
                  & .awards__image {
                     margin: 7% 0 0 0;
                     max-width: 70%;
                  }
                  & .blur {
                     width: 135%;
                  }
               }
               &:nth-child(5) {
                  & .awards__image {
                     margin: 10% 0 0 0;
                  }
                  & .blur {
                     max-width: 90%;
                     width: 100%;
                  }
               }
            }
         }

         & .swiper-pagination-bullets {
            bottom: -25px;
         }
      }
      & .blur._1,
      & .blur._2,
      & .blur._3,
      & .blur._4,
      & .bg {
         display: none;
      }

      & .blur._phone {
         display: block;
         width: 40%;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }
   }

   .equipments {
      margin: 180px 0 0 0;
      &__menu--body {
         position: relative;
      }
      &__menu {
         // display: none;
         position: absolute;
         top: 60%;
         left: 50%;

         transition: transform 0.4s ease 0.4s, opacity 0.4s ease 0.4s;
         transform: translate(-50%, -5%);
         opacity: 0;
         visibility: hidden;

         width: 100%;
         flex-direction: column;
         align-items: center;
         width: min(100%, 400px);
         gap: 15px;

         z-index: 10;
         background: #01050c;
         border: 1px solid #5fa8ff;
         border-radius: 20px;

         &--item {
            height: 20px;
            font-size: 14px;
         }
      }
      &__text {
         margin: 12px 0 0 0;
         font-size: 14px;
      }
      &__title {
         text-align: center;
      }
   }
   .select-equipments {
      display: flex;
      margin: 40px 0 0 0;
   }
   .equipments._active {
      & .equipments__menu {
         transition: transform 0.6s ease, opacity 0.6s ease;
         transform: translateX(-50%);
         opacity: 1;
         visibility: visible;
      }

      & .select-equipments__arr {
         transform: rotate(90deg);
      }
   }
   .information {
      &__block {
         flex-direction: column;
         align-items: stretch;
      }
      &__about {
         flex: 0 0 auto;
         margin: 0;
      }
      &__info {
         font-size: 14px;
      }
      &__details {
         flex: 0 0 auto;
         margin: 20px 0 0 0;
      }
      &__item {
         width: min(100%, 450px);
      }
   }

   .helpus {
      &__block {
         padding: 0;
         background: transparent;
         border: 0;
         box-shadow: unset;
      }
      &__image {
         display: none;
      }
      & .blur._phone {
         display: block;
         top: 40%;
      }
   }
}

@media screen and (max-width: 600px) {
   .mainpage {
      &__title {
         font-size: 14vw;
         line-height: 17vw;
      }
      & .blurs {
         & ._1 {
            width: 155%;
            top: 0;
            left: 0;
            transform: translate(0);
         }
         & ._2 {
            width: 100%;
            top: -30%;
            left: 0;
            transform: translate(0);
         }
      }
   }

   .about {
      margin: 150px 0 0 0;
      &__container {
         flex-direction: column;
         gap: 50px;
      }
   }

   .email {
      &__block {
         padding: 60px 15px;
         background: linear-gradient(0deg, rgba(1, 5, 12, 0.8), rgba(1, 5, 12, 0.8)), url(../../img/bg_street.png);
         background-position-x: 40%;

         border-radius: 20px;
      }
      & .form {
         flex-direction: column;

         & input {
            width: 100%;
            max-width: 100%;
            margin: 12px 0 0 0;
            font-size: 14px;
         }
      }
      & .blur {
         filter: blur(40px);
         &._1 {
            width: 120px;
            height: 120px;
            left: 0;
            top: 0;
         }

         &._2 {
            width: 102px;
            top: auto;
            right: 0;
            bottom: 0;
         }
      }
   }

   .miticoin {
      &__container {
         flex-direction: column;
         align-items: center;
      }
      &__video--block {
         margin: 0 auto;
         width: max(60%, 180px);
      }
      &__video {
         order: 2;
         margin: 30px 0 0 0;
      }
      &__btn {
         margin: 30px 0 0 0;
         text-align: center;
         order: 3;
         padding: 13px 0;
      }
      &__content {
         order: 1;
      }
   }

   .picklocks {
      &__container {
         flex-direction: column;
      }
      &__content {
         flex: auto;
         margin: 0;
         order: 1;
      }
      &__collaider {
         order: 2;
         margin: 20px 0 0 0;
         width: auto;
      }
      &__btn {
         order: 3;
         margin: 40px 0 0 0;
      }
   }
   .swiper-pagination {
      display: flex;
      align-items: center;
      justify-content: center;
   }
   .swiper-pagination-bullet {
      background: #2de5e5;
      box-shadow: 0px 0px 10px rgba(95, 168, 255, 0.3);
      width: 4px;
      height: 4px;
      margin: 0 7px;
   }
   .swiper-pagination-bullet-active {
      width: 8px;
      height: 8px;
   }
   .awards .blur._phone {
      width: 60%;
   }

   .phone {
      &__block {
         margin: 128px auto 0 auto;
         background-position: center;
         padding: 0;
         max-width: 350px;
         aspect-ratio: 1/1;
      }

      &__image {
         width: 100%;
         flex: auto;
      }
      &__image--block {
         width: 60%;
      }

      & .img-phone-bg {
         width: 197%;
      }
   }
}

@media screen and (max-width: 424.89px) {
   .information {
      &__item {
         padding: 0 0 0 10px;
      }
   }

   .information__details .blur {
      filter: blur(150px);
      width: 100%;
   }
}

@media screen and (max-width: 374.89px) {
   .mainpage {
      margin: 60px 0 0 0;
      &__info {
         margin: 0;
         font-size: 12px;
      }

      &__btn {
         &._1,
         &._2 {
            width: 100%;
            padding: 10px 0;
         }
         & img {
            display: none;
         }
      }
   }
   .steps {
      margin: 150px 0 0 0;
      &__item {
         padding: 10px 10px;
      }
   }
   .awards .blur._phone {
      width: 100%;
   }

   .helpus {
      margin: 150px 0 0 0;
      &__coins {
         flex-direction: column;
         gap: 15px;
      }
      &__title {
         font-size: 27px;
      }
      &__txt {
         font-size: 15px;
      }
   }
}

@import "_animation";
